# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Eclipse-workplacel\Myproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
